# Machine Learning
Machine learning is a process to let the program itself recognize the hidden pattern behind the data. This field involves traditional statistical tools like regression and more modern approach like deep learning. We will go through some of these technique in this module based on the titanic dataset.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# as usual
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

As you can see in the column names, there is a variable, "survived", indicates whether the passenger is alive. We will try to use different models to see if we can make a good prediction.

## Train and Evaluate
To start training a model, we need to first split the dataset into train set and test set. The train set is the one used to train the model, and we will use the test set to evaluate the accuracy of the model.

In [5]:
# split the dataset into training set and test set
split_n = int(0.8 * len(df))
df_train = df.iloc[:split_n, :]
df_test = df.iloc[split_n:, :]

### Linear Regression
We first train a linear regression model as a benchmark. When performin machine learning, it is important to choose right features. Features are the variables that the model learns from. For instance, in this case, passenger's gender, age, and class might be good features to predict the chance of survival. Although not certainly, domain knowledge can usually help you figure out what are the good features.

In [6]:
from sklearn.linear_model import LinearRegression

In [12]:
train_X = df.loc[:, ["Pclass", "Sex", "Age"]]
train_X = train_X.replace("female", 0)
train_X = train_X.replace("male", 1)
train_X = train_X.fillna(0)

train_y = df.Survived
clf = LinearRegression().fit(train_X, train_y)
print("R squared is", clf.score(train_X, train_y))

R squared is 0.3741735725942488

### Logistic Regression
Logistic regression is a powerful tool comparing to the linear regression when it comes to the binary case.

In [13]:
from sklearn.linear_model import LogisticRegression

In [15]:
clf = LogisticRegression().fit(train_X, train_y)
print("The mean accuracy is", clf.score(train_X, train_y))

The mean accuracy is 0.7732884399551067

C:\Users\user\Anaconda3\envs\keras35\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

## Feature Engineering
After using the three basic features to train the models, we may want to add more features to improve the accuracy. In practice, we can transform or combine one or more existing features to create a new feature. This is called feature engineering. In general, if we are facing a dataset with limited sample size and features, feature engineering is the key to increase the performance of a model.